<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CUSTOMERDATAEntities" connectionString="metadata=res://*/Customer.csdl|res://*/Customer.ssdl|res://*/Customer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BG4S1SV\SQLEXPRESS;initial catalog=CUSTOMERDATA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name ="J2EENorthwind"
         connectionString = "Integrated Security=SSPI;Persist Security Info=False;User ID=MMS\Krishnamurthi;Initial Catalog=CUSTOMERDATA;Data Source=DESKTOP-BG4S1SV\SQLEXPRESS"
                 
            providerName ="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7305/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>